:root {
    --color: #ef476f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    font-family: 'Montserrat', sans-serif;
}
.display-6 {
    background: none !important;
    color: #393939;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 2em;
}


.heading strong {
    font-weight: bold;
}

.jumbotron {
    width: 100%;
    height: 5.5em;
}

.container {
    align-items: left;
    padding-bottom: 9px;
}

.lead {
    font-size: 16px !important;
    font-family: 'Roboto Slab', serif !important;
}

/* .btn {
    background-color: #EF476F !important;
    Color: black;
} */
.para-div {
    margin-bottom: 20px !important;
}

hr{
    background: #ef476f;
    height: 3px;
}

.img-fluid {
    margin-top: 30px !important;
    width: 50% !important;
}