/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@100;300;400;500;600;700;800;900&display=swap'); */
*{
    margin: 0px;
    padding: 0px;
}
*::selection{
    background-color: rgba(255, 229, 67, 0.5);
}
.main-container {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    overflow-x: hidden;
}
#container{
    width: 100%;
    padding: 8px 8%;
}
#line{
    background-color: #ffe543;
    margin: 25px 0px;
    -webkit-appearance: none;
}
.main-holder{
    display: flex;
    justify-content: space-between;
}
.inline {
    display: inline;
}
.filters {
    width: 255px;
    display: flex;
    justify-content: space-between;
}
.filters h2{
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-size: 17.75px;
    font-weight: 700;
    display: inline;
}
.filters button{
    padding: 0px 5px;
    border: none;
    border-radius: 12px;
    background: #eeeeee;
    font-size: 0.75rem;
    color: #363636;
}
.filters button:hover{
    background: #dddddd;
}
.filters button:focus{
    outline: none;
}
.filter-holder hr{
    background: #ef476f;
    margin-bottom: 15px;
    margin-top: 10px;
}
.brands-holder label{
    display: block;
    cursor: pointer;
}
.brands-holder input{
    width: 0px;
    height: 0px;
}
.brands-holder h4{
    display: inline;
    font-size: initial;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 300;
    margin-left: 33px;
}

/* .brands-holder > label.active{
    color: #ef476f;
}

.tab-content > div.active{
    display: block;
}

.tab-content > div{
    display: none;
} */

.checkmark{
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #b4b1b1;
    left: 8%;
    border-radius: 13px;
    transition: all 0.5s;
}
label:hover .checkmark{
    background: #7a7878;
}
label input:checked ~ .checkmark{
    background-color: #ee7994;
}
.checkmark::after, label.active::after{
    content: '';
    position: absolute;
    opacity: 0;
    transition: all 0.5s;
}
label input:checked ~ .checkmark::after{
    opacity: 1;
}
.checkmark::after{
    left: 7px;
    top: 2px;
    width: 7px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    border-radius: 43%;
}
.ver-line{
    height: 345px;
    width: 1px;
    background: #ef476f;
}
.cart-img{
    margin-left: 15px;
}
.cart-img img{
    margin-bottom: 50px;
}
.banner {
    height: 22vw;
}
.heading{
    margin: 15px 0;
}
.heading * {
    text-align: center;
}
.heading h1{
    text-transform: uppercase;
    font-size: 20px;
}
.heading p {
    font-size: 12px;
    font-weight: 300;
}
.cart-holder{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 110%;
    margin: auto;
}

@media (max-width: 1000px) {
    #line {
        margin: 25px -7%;
        margin-left: -1%;
    }
    .cart-holder {
        margin-left: -18px;
    }
}

@media (max-width: 969px) {
    .cart-holder {
        padding-right: 10px;
    }
}

@media (max-width: 900px) {
    .banner {
        margin-left: -7px;
    }
    #container {
        padding-left: 16px;
    }
    .checkmark {
        left: 2.5%;
    }
}

@media (max-width: 880px) {
    .cart-holder {
        margin: auto;
    }
}

@media (max-width: 830px) {
    .banner {
        height: 24vw;
    }
}

@media (max-width: 780px) {
    .cart-img {
        margin-left: 23px;
    }
}

@media (max-width: 770px) {
    #line {
        display: none;
    }
    .main-holder {
        display: block;
    }
    .ver-line {
        display: none;
    }
    .filters {
        width: 86vw;
    }
    .filter-holder {
        width: 92%;
        margin-bottom: 2.5rem;
    }
    .banner {
        height: 34vw;
        margin-left: -2.5%;
    }
    .cart-img {
        width: 92vw;
    }
    .cart-holder {
        width: 98vw;
        margin-left: -5.5%;
    }
}

@media (max-width: 480px) {
    .banner {
        height: 37vw;
        margin-left: -6.5%;
    }
    .filter-holder {
        margin-left: 11px;
    }
    #line {
        width: 95vw;
        margin-left: -7px;
    }
    .banner {
        margin-left: -8.75%;
    }
    .heading {
        width: 93%;
        margin-left: -6%;
    }
    #container {
        padding: 8px 0%;
    }
    .cart-holder {
        width: 94vw;
        margin-left: -2.5%;
    }
}